/* REVIEW - BOX */

.review-box {
    margin: 0 auto;
    padding: 2px 4px;
    background-color: var(--highlight-color);
    height: 1.5rem;
    width: fit-content;
    border-radius: 0.5rem;

    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.review-box svg {
    height: 1rem;

    stroke: var(--basket-primary-color);
    fill: var(--basket-primary-color);
}

.review-count {
    color: #726D6D;
}

.average-count {
    font-family: 'Palanquin Dark';
    align-self: flex-end;
}

/* DISH - CARD */

.dish-card {
    margin: 1rem;
    margin-left: clamp(1rem, 4vw, 4rem);
    padding: 1rem;

    max-width: 32rem;

    background-color: var(--asset-primary-color);
    border-radius: 1rem;
}

.dish-card img {
    height: 6rem;
    width: stretch;
    border-radius: 1rem;

    object-fit: cover;
}

.dish-card-footer {
    display: flex;
    justify-content: space-between;
}

.add-btn {
    font-weight: 600;
    border: none;
}

.add-btn:hover {
    background-color: var(--highlight-color);
}

/* BASKET */

.basket-section {
    position: fixed;
    top: 0.5rem;
    right: 0.5rem;
}

.basket-svg-bg {
    height: 3rem;
    width: 3rem;
    background-color: var(--secondary-color);
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.basket svg {
    height: 2rem;
    width: 2rem;
    stroke: var(--primary-color);
}

.basket {
    height: 100%;
    width: 100%;
    max-width: 300px;
}