/* mobile per default */

/* TABLET */
@media (min-width: 768px) {

    .hero-images {
        padding: 0;
    }

    .hero-img {
        border-radius: 0;
    }

    .outer-logo-ring {
        bottom: 0.5rem;
    }

    .hero-content {
        padding-top: 4rem;
    }

    .hero-review-and-title {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;

        gap: clamp(1rem, 4vw, 4rem);
    }

    .review-box {
        margin-top: 0.5rem;
    }

    .dish-card {
        display: flex;
        justify-content: space-between;

        gap: 1rem;
    }

    .dish-card img {
        height: 12rem;
        width: 12rem;
    }

    .dish-image-and-text-container {
        display: flex;
        gap: 1rem;
    }

    .dish-card-footer {
        display: flex;
        flex-direction: column;
    }

    .basket-content {
        width: 30rem;
    }
}

/* DESKTOP */
@media (min-width: 1024px) {}